[Unit]
Description=Precision Time Protocol (PTP) service

{% if inventory_hostname == 'ptp1' %}
[Service]
Type=simple
ExecStart=/usr/sbin/ptp4l -f /etc/linuxptp/ptp4l.conf -i enp0s8 -S
{% else %}
[Service]
Type=simple
ExecStart=/usr/sbin/ptp4l -f /etc/linuxptp/ptp4l.conf -i enp0s8 -S -s
{% endif %}

[Install]
WantedBy=multi-user.target
