#!/bin/sh

{% if inventory_hostname == 'ptp2' %}

/usr/bin/flock -w 10 /scripts/iperfs.lock iperf3 -s
{% else %}
{% endif %}
{% if inventory_hostname == 'ptp3' %}
/usr/bin/flock -w 10 /scripts/iperfs.lock iperf3 -t 25 -c 10.0.0.11 -u -b 90M
/usr/bin/flock -w 10 /scripts/iperfsr.lock iperf3 -t 25 -c 10.0.0.11 -u -R -b 90M
{% else %}
{% endif %}
