#!/bin/sh


{% if inventory_hostname == 'ptp3' %}
sleep 1
/usr/bin/flock -w 10 /scripts/jitter.lock mtr -c10 -r -oJ 10.0.0.11|awk '{print $(NF-5)}'|tail -n1 > /tmp/jitter.dat
cp /tmp/jitter.dat /tmp/jitter
{% else %}
{% endif %}
