#!/bin/sh

{% if inventory_hostname == 'ptp1' %}
/usr/bin/flock -w 10 /scripts/perf.lock /usr/bin/perf sched record -- sleep 40
/bin/cp /root/perf.data /tmp/perf.data
#/usr/bin/perf sched --input=/tmp/perf.data latency| /bin/grep -i ptp4l |/usr/bin/awk -F'|' '{print $(NF-1)}'|/usr/bin/awk '{print $(NF-1)}' | /usr/bin/tee -i /tmp/perf.dat
/usr/bin/perf sched --input=/tmp/perf.data latency| /bin/grep -i ptp4l |/usr/bin/awk -F'|' '{print $(NF-1)}'|/usr/bin/awk '{print $(NF-1)}' > /tmp/perf.dat
/bin/cp /tmp/perf.dat /tmp/perf
{% else %}
{% endif %}
