#!/bin/sh

{% if inventory_hostname == 'ptp2' %}
/usr/bin/flock -w 10 /scripts/stresss.lock stress-ng --class cpu --sequential 1 --timeout 10s --metrics-brief
{% else %}
{% endif %}
{% if inventory_hostname == 'ptp3' %}
/usr/bin/flock -w 10 /scripts/stresss.lock stress-ng --class filesystem --sequential 1 --timeout 5s --metrics-brief
{% else %}
{% endif %}
