PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=0
Server={{ zabbix_remote_ip | default('10.0.0.200') }}
ServerActive={{ zabbix_remote_ip | default('10.0.0.200') }}
Hostname={{ inventory_hostname }}
Include=/etc/zabbix/zabbix_agentd.conf.d/
#DebugLevel=4
